.container.complaint-page
  .h1.topic Podpierdol Dziada
  = form_for @complaint do |f|
    = f.label :title
    = f.text_field :title
    = f.label :recipient
    = f.collection_select :recipient_id, @recipients, :id, :name, include_blank: true
    = f.label :signature_type
    = f.collection_select :signature_type, %w(Anonymouse Nickname Your\ Firstname\ and\ Lastname), :to_s, :titleize, :prompt => true 
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :email
    = f.text_field :email
    = f.label :city
    = f.text_field :city
    = f.label :state
    = f.text_field :state
    = f.label :zip_code
    = f.text_field :zip_code
    = f.label :street_and_number
    = f.text_field :street_and_number
    = f.label :description
    = f.text_field :description
    = f.submit :warning
    = f.submit :danger
    = f.submit :success