.container
  = form_with model: @complaint, local: true do |form|
    .row.justify-content-center
      .col-2.info
        = form.label "Title: " 
      .col-6.info.field
        = form.text_field :first_name
    .row.justify-content-center
      .col-2.info
        = form.label "TO JEST TEST LUKASZ: "
      .col-6.info.field
        = form.text_field :recipient
    .row.justify-content-center
      .col-2.info
        = form.label "TO JEST TEST LUKASZ: "
      .col-6.info.field
        = form.text_field :recipient
    .row.justify-content-center
      .col-2.info
        = form.label "TO JEST TEST LUKASZ: "
      .col-6.info.field
        = form.text_field :recipient
    .row.justify-content-center
      .col-2.info
        = form.label "TO JEST TEST LUKASZ: "
      .col-6.info.field
        = form.text_field :recipient
    .row.justify-content-center
      .col-2.info
        = form.label "TO JEST TEST LUKASZ: "
      .col-6.info
        = form.text_field :recipient
    
