!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PodpierdolSasiada
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    - flash.each do |type, msg|
      - if type == "notice"
        %p.alert.alert.alert-success{role: "alert"}= msg
      - else type == "alert"
        %p.alert.alert.alert-danger{role: "alert"}= msg
    = yield
    = render 'layouts/footer'
